#cc-main {
    --primary: #1e88e5; /* themeColors.primary: blue[600] */
    --dark-shade: #0d47a1; /* themeColors.darkShade: blue[900] */

    --cc-btn-primary-bg: var(--primary);
    --cc-btn-primary-border-color: var(--primary);
    --cc-btn-primary-hover-bg: var(--dark-shade);
    --cc-btn-primary-hover-border-color: var(--primary);
    --cc-font-family: "Noto Sans", "Open Sans", Roboto, Helvetica, Arial, sans-serif;
    --cc-primary-color: var(--primary);
    --cc-secondary-color: #000000
}
