apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    combine-component: nuc-proxy-server
  name: nuc-proxy-server
  namespace: {{ cert_proxy_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      combine-component: nuc-proxy-server
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
      maxUnavailable: 1
  template:
    metadata:
      creationTimestamp: null
      labels:
        combine-component: nuc-proxy-server
    spec:
      initContainers:
        - name: nuc-proxy-init
          volumeMounts:
            - name: nginx-init
              mountPath: /var/nginx-init
            - name: nginx-html
              mountPath: /var/nginx-html
          image: busybox:1.34
          command:
            - /bin/sh
            - -c
            - cp /var/nginx-init/* /var/nginx-html
      containers:
        - name: nuc-proxy-server
          env:
            - name: SERVER_NAME
              valueFrom:
                configMapKeyRef:
                  key: SERVER_NAME
                  name: {{ proxy_server_attr.env_nginx_proxy }}
          image: nginx:1.21
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources: {}
          volumeMounts:
            - name: nginx-html
              mountPath: /usr/share/nginx/html
      restartPolicy: Always
      volumes:
        - name: nginx-html
          emptyDir: {}
        - name: nginx-init
          configMap:
            name: {{ proxy_server_attr.nginx_pages }}

status: {}
