{% for nuc_proxy in combine_cert_proxy_list %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-{{ nuc_proxy | regex_replace('^([^\\.]+)\\..*$', '\\1') }}
  namespace: {{ cert_proxy_namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ ingress_class }}
    nginx.ingress.kubernetes.io/proxy-body-size: "250m"
    cert-manager.io/issuer: {{ cert_issuer }}
    cert-manager.io/duration: 2160h
    cert-manager.io/renew-before: {{ (cert_renew_before * 24) }}h
spec:
  tls:
  - hosts:
    - {{ nuc_proxy }}
    secretName: {{ nuc_proxy | regex_replace('[\\._-]+','-')}}-tls
  rules:
  - host: {{ nuc_proxy }}
    http:
      paths:
      - backend:
          service:
            name: nuc-proxy-server
            port:
              number: 80
        path: /
        pathType: Prefix
{% endfor %}
