apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    combine-component: nuc-proxy-server
  name: nuc-proxy-server
  namespace: {{ cert_proxy_namespace }}
spec:
  ports:
    - name: "80"
      port: 80
      targetPort: 80
  selector:
    combine-component: nuc-proxy-server
status:
  loadBalancer: {}
