---
##############################################################
# Playbook: playbook_desktop_setup.yml
#
# playbook_desktop_setup.yml installs the packages and
# configuration files that are required to run The Combine
# as containers managed by a Kubernetes cluster on localhost.
#
##############################################################

- name: Configure hardware for The Combine
  hosts: localhost
  gather_facts: yes
  become: yes

  vars_files:
    - "vars/config_common.yml"
    - "vars/k3s_versions.yml"

  tasks:
    - name: Setup WiFi Access Point
      import_role:
        name: wifi_ap
      when: has_wifi

    - name: Configure Network Interfaces
      import_role:
        name: network_config

    - name: Install Preloaded Images
      import_role:
        name: container_images
      when: install_airgap_images

    - name: Install Container Engine
      import_role:
        name: container_engine

    - name: Install Kubernetes
      import_role:
        name: k8s_install

    - name: Install Helm
      import_role:
        name: helm_install
      when: not install_airgap_images

    - name: Setup Support Tool
      import_role:
        name: support_tools
