---
##############################################################
# Playbook: playbook_desktop_install.yml
#
# playbook_desktop_install.yml installs the packages and
# configuration files that are required to run TheCombine
# as containers managed by a Kubernetes cluster on localhost.
#
##############################################################

- name: Configure hardware for The Combine
  hosts: localhost
  gather_facts: yes
  become: yes

  vars_files:
    - "vars/config_common.yml"

  tasks:
    - name: Update packages
      apt:
        update_cache: yes
        upgrade: "yes"

    - name: Setup WiFi Access Point
      import_role:
        name: wifi_ap
      when: has_wifi

    - name: Enable hardware monitoring
      import_role:
        name: monitor_hardware
      when: include_hw_monitoring

    - name: Configure Network Interfaces
      import_role:
        name: network_config

    - name: Install Container Engine
      import_role:
        name: container_engine

    - name: Install Kubernetes
      import_role:
        name: k8s_install

    - name: Install Helm
      import_role:
        name: helm_install
      when: install_helm

    - name: Setup Support Tool
      import_role:
        name: support_tools
