apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: letsencrypt
  name: letsencrypt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ letsencrypt_data_size }}
status: {}
