#!/bin/bash

###############################################################
# Utility functions for Combine backup/restore/cleanup scripts
###############################################################

VERBOSE="0"
VERBOSE_CMD="echo"
QUIET_OPT="--quiet"
COMBINE_APP_DIR=${COMBINE_APP_DIR:="{{ combine_app_dir }}"}
BACKUP_DIR=${BACKUP_DIR:="{{ combine_backup_dir }}"}
BACKEND_FILES_SUBDIR="{{ backend_files_subdir }}"
DB_FILES_SUBDIR="{{ mongo_files_subdir }}"
AWS_BUCKET=${AWS_BUCKET:="s3://{{ aws_s3_backup_loc }}"}
step=1

echo_verbose() {
  if [ "${VERBOSE}" == "1" ] ; then
    ${VERBOSE_CMD} $@
  fi
}

print_step() {
  echo_verbose "${step}. " $@
  ((step++))
}
