{
  "docker_compose_file": "{{ combine_app_dir }}/docker-compose.yml",
  "backend_files_subdir": "{{ backend_files_subdir }}",
  "db_files_subdir": "{{ mongo_files_subdir }}",
  "aws_bucket": "{{ aws_s3_backup_loc }}",
  "aws_s3_profile": "{{ aws_s3_profile }}",
  "combine_host": "{{ combine_server_name | replace('.', '-') }}"
}
