version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-10/3 *" # quarterly
    groups:
      gha-deps:
        patterns:
          - "*"

  - package-ecosystem: "nuget"
    directories:
      - "/Backend"
      - "/Backend.Tests"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-10/3 *" # quarterly
    groups:
      backend-deps:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directories:
      - "/"
      - "/Backend"
      - "/database"
      - "/deploy"
      - "/maintenance"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-7/6 *" # semiannually
    groups:
      docker-deps:
        patterns:
          - "*"
    ignore:
      - dependency-name: "node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "python"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "pip"
    directories:
      - "/"
      - "/deploy"
      - "/maintenance"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-7/6 *" # semiannually
    groups:
      python-deps:
        patterns:
          - "*"

  - package-ecosystem: "npm" # minor and patch updates
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-10/3 *" # quarterly
    groups:
      frontend-dev-minor-deps:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      frontend-prod-minor-deps:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: "npm" # major updates
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 0 1 1-7/6 *" # semiannually
    ignore:
      - dependency-name: "*"
        update-types:
          ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "@mui/icons-material"
      - dependency-name: "@mui/material"
      - dependency-name: "@mui/x-date-pickers"
      - dependency-name: "@types/node"
      - dependency-name: "@types/react"
      - dependency-name: "@types/react-dom"
      - dependency-name: "react"
      - dependency-name: "react-dom"
