# Ignore everything.
**

# Except the following.
!docs/user_guide
!nginx
!public
!scripts/touchPublicScripts.js
!src
!.env
!.eslintrc.cjs
!dev-requirements.txt
!package*.json
!tox.ini
!tsconfig.json

# Ignore user guide build directory.
docs/user_guide/site
