# Ignore everything.
**

# Except the following.
!.env
!.parcelrc
!dev-requirements.txt
!docs/user_guide
!eslint.config.mjs
!nginx
!package*.json
!public
!scripts/parcelResolver.ts
!src
!tox.ini
!tsconfig.json

# Ignore user guide build directory.
docs/user_guide/site
