.git
.idea
.vscode
__mocks__
Backend
Backend.Tests
deploy
docs
node_modules
.dockerignore
.editorconfig
.env.dev
.gitattributes
.gitignore
.gitmodules
BackendFramework.sln
docker-compose.yml
Dockerfile
dropDB.ts
gen_test_cert.bat
LICENSE
README.md
setAdminUser.ts
setupMongo.ts
