root = true

[*.{js,jsx,ts,tsx}]
max_line_length = 80
indent_size = 2

[*.cs]
max_line_length = 120
indent_size = 4
# CA1305 requires using a FormatProvider with int.Parse and string.Format.
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1710.severity = warning
# TODO: Implement LoggerMessage pattern to remove the CA1848 exception.
dotnet_diagnostic.CA1848.severity = none
# CS1591 is our only exception to EnforceCodeStyleInBuild+GenerateDocumentationFile.
dotnet_diagnostic.CS1591.severity = none
# IDE0005 requires both EnforceCodeStyleInBuild and GenerateDocumentationFile set to true.
dotnet_diagnostic.IDE0005.severity = warning
# Warn for unused private members.
dotnet_diagnostic.IDE0052.severity = warning

[*.py]
max_line_length = 99

[*.md]
max_line_length = 120
