COMBINE_JWT_SECRET_KEY=
COMBINE_SMTP_SERVER=
COMBINE_SMTP_PORT=
COMBINE_SMTP_USERNAME=
COMBINE_SMTP_PASSWORD=
COMBINE_SMTP_ADDRESS=
COMBINE_SMTP_FROM=
COMBINE_PASSWORD_RESET_EXPIRE_TIME=15
# Add these environment variables to create an admin user for TheCombine
# Remove from your .env.backend file when the account has been created.
# COMBINE_ADMIN_USERNAME=
# COMBINE_ADMIN_PASSWORD=
