src/resources/dictionaries/* linguist-detectable=false

*.js eol=lf
*.jsx eol=lf
*.json eol=lf

# Auto detect text files and perform LF normalization
* text=auto

# Force LF for shell scripts.
# Without this, these can fail when passed from Windows into Docker.
*.sh text eol=lf
