tox

# Type Checking.
mypy
types-requests
types-pyOpenSSL
types-python-dateutil

# Linting.
flake8
flake8-bugbear
flake8-broken-line
flake8-comprehensions
flake8-eradicate
pep8-naming

# Formatting.
black
isort

# Documentation.
mkdocs-material
mkdocs-htmlproofer-plugin

# Templating/Docker.
Jinja2
jinja2-base64-filters
humanfriendly
kubernetes
pyopenssl

# OS-specific dependencies.
# The follow dependencies are only needed on Windows, but list them here to avoid thrashing back and forth when
# non-Windows developers run `python -m piptools compile`
colorama
pyreadline3
