tox

# Type Checking.
mypy
types-requests

# Linting.
flake8
pep8-naming

# Formatting.
black
isort

# Documentation.
mkdocs-material
mkdocs-htmlproofer-plugin

# Templating/Docker.
# TODO: Try out Jinja2 3.x after dust has settled from this issue:
#   https://github.com/pallets/jinja/issues/1168
Jinja2 < 3
jinja2-base64-filters
humanfriendly
kubernetes
pyopenssl
types-pyOpenSSL
types-python-dateutil
