---
#################################################
# Host specific configuration items for localhost
################################################

################################################
# Configure Kubernetes cluster
################################################

image_pull_secret: aws-login-credentials
use_airgap_images: True

# k8s namespaces
app_namespace: thecombine

k8s_user: "{{ ansible_user_id }}"

################################################
# Support Tool Settings
################################################
install_ip_viewer: False
install_combinectl: True

#######################################
# Ingress configuration
ingress_namespace: ingress-nginx

# For the NUCs we want to use the ansible host name
# since that is how we can connect on the local network
# The server name will direct traffic to the production
# server since it is used to get the certificates for the
# NUC.
k8s_dns_name: "local"

################################################
# Ethernet settings
################################################
eth_optional: True

################################################
# WiFi access point settings
################################################
has_wifi: True
ap_domain: thecombine.app
ap_ssid: "thecombine_ap"
ap_passphrase: "thecombine_pw"
ap_gateway: "10.10.10.1"
ap_hostname: "local"
test_wifi: False
################################################
# hardware monitoring settings
################################################
include_hw_monitoring: False
history_days: 60
