---
source_dir: "{{ ansible_env.HOME }}/src/combine"

backend_env_file: ".env.backend.prod"
backend_env_dir: "{{ source_dir }}/Backend"

frontend_env_file: ".env.frontend.prod"
frontend_env_dir: "{{ source_dir }}"

combine_user: combine
combine_group: app
combine_app_dir: /opt/combine

# common configuration items that are shared between the certmgr and frontend
# containers and across target types:
ssl_dir: "/etc/cert_store/nginx/{{ combine_server_name }}"
ssl_certificate: "{{ ssl_dir }}/fullchain.pem"
ssl_private_key: "{{ ssl_dir }}/privkey.pem"

# SSL Certificate variables
# for both Let's Encrypt and Self-signed certs
combine_cert_env_vars:
  - key: "CERT_MODE"
    value: "{{ cert_mode }}"
  - key: "CERT_EMAIL"
    value: "{{ cert_email }}"
  - key: "CERT_STAGING"
    value: "{{ cert_is_staging }}"
  - key: "CERT_DOMAINS"
    value: "{{ combine_server_name }}"
  - key: "MAX_CONNECT_TRIES"
    value: "{{ cert_max_connect_tries }}"
  - key: "SERVER_NAME"
    value: "{{ combine_server_name }}"

# SSL Certificate variables
# for both Let's Encrypt and Self-signed certs
combine_cert_server_env_vars:
  - key: "CERT_MODE"
    value: "cert_server"
  - key: "CERT_EMAIL"
    value: "{{ cert_email }}"
  - key: "CERT_STAGING"
    value: "{{ cert_is_staging }}"
  - key: "MAX_CONNECT_TRIES"
    value: "{{ cert_max_connect_tries }}"
  - key: "SERVER_LIST"
    value: "{{ combine_cert_server_list }}"

combine_frontend_env_vars:
  - key: "SERVER_NAME"
    value: "{{ combine_server_name }}"
  - key: "SSL_CERTIFICATE"
    value: "{{ ssl_certificate }}"
  - key: "SSL_PRIVATE_KEY"
    value: "{{ ssl_private_key }}"
