version: "3.8"
services:
  backend:
    entrypoint:
      - dotnet
      - BackendFramework.dll
    restart: unless-stopped
  frontend:
    build:
      context: .
      args:
        - COMBINE_CAPTCHA_REQUIRED=true
        - COMBINE_CAPTCHA_SITE={{ config_captcha_sitekey }}
    volumes:
        - ./nginx/conf.d:/etc/nginx/user.conf.d:ro
        - letsencrypt:/etc/letsencrypt
    environment:
        CERTBOT_EMAIL: {{ certbot_email }}
        IS_STAGING: {{ certbot_is_staging }}
        SERVER_NAME: {{ combine_server_name }}
        SSL_CERTIFICATE: /etc/letsencrypt/live/{{ combine_server_name }}/fullchain.pem
        SSL_PRIVATE_KEY: /etc/letsencrypt/live/{{ combine_server_name }}/privkey.pem
        BACKEND_URL: "http://backend"
    command:
      - "/bin/bash"
      - "{{ frontend_start_script }}"
    depends_on:
      - backend
    restart: unless-stopped
  database:
    restart: unless-stopped

volumes:
  letsencrypt:
