version: "3.8"
services:
  backend:
    entrypoint:
      - dotnet
      - BackendFramework.dll
    restart: unless-stopped
  frontend:
    build:
      args:
        - COMBINE_CAPTCHA_REQUIRED={{ config_captcha_required }}
        - COMBINE_CAPTCHA_SITE={{ config_captcha_sitekey }}
    environment:
        CERTBOT_EMAIL: {{ certbot_email }}
        IS_STAGING: {{ certbot_is_staging }}
        SERVER_NAME: {{ combine_server_name }}
        SSL_CERTIFICATE: {{ ssl_certificate }}
        SSL_PRIVATE_KEY: {{ ssl_private_key }}
    command:
      - "/bin/bash"
      - "{{ frontend_start_script }}"
    restart: unless-stopped
  database:
    restart: unless-stopped
