version: "3.8"
services:
  backend:
    entrypoint:
      - dotnet
      - BackendFramework.dll
    restart: unless-stopped
  frontend:
    build:
      context: .
      dockerfile: ./prodDockerfile
    volumes:
        - ./{{ config_dir }}/nginx/conf.d:/etc/nginx/user.conf.d:ro
        - letsencrypt:/etc/letsencrypt
    environment:
        CERTBOT_EMAIL: {{ certbot_email }}
        IS_STAGING: {{ certbot_is_staging }}
    command:
      - "/bin/bash"
      - "{{ frontend_start_script }}"
    depends_on:
      - backend
    restart: unless-stopped
  database:
    restart: unless-stopped

volumes:
  letsencrypt:
    
