version: "3.8"
services:
  backend:
{% if combine_pull_images %}
    image: {{ combine_image_backend }}
{% else %}
    build: ./Backend
{% endif %}
    volumes:
      - backend_data:/home/app/.CombineFiles
    expose:
      - 5000
    depends_on:
      - database
    env_file:
      - ./.env.backend
    restart: always
{% if combine_use_syslog %}
    logging:
        driver: syslog
        options:
               tag: combine-backend
{% endif %}

  frontend:
{% if combine_pull_images %}
    image: {{ combine_image_frontend }}
{% else %}
    build: .
{% endif %}
    env_file:
      - ./.env.frontend
    volumes:
      - letsencrypt:/etc/letsencrypt
      - cert_store:/etc/cert_store
      - certbot_data:/var/www/certbot
    ports:
      - 80:80
      - 443:443
    depends_on:
      - certmgr
      - backend
    restart: always
{% if combine_use_syslog %}
    logging:
        driver: syslog
        options:
               tag: combine-frontend
{% endif %}

  certmgr:
{% if combine_pull_images %}
    image: {{ combine_image_certmgr }}
{% else %}
    build: ./certmgr
{% endif %}
    env_file:
      - ./.env.certmgr
    environment:
      PYTHONUNBUFFERED: 1
    volumes:
      - letsencrypt:/etc/letsencrypt
      - cert_store:/etc/cert_store
      - certbot_data:/var/www/certbot
    restart: always
{% if combine_use_syslog %}
    logging:
        driver: syslog
        options:
               tag: combine-certmgr
{% endif %}

  database:
    image: mongo:{{ mongodb_version }}
    volumes:
      - database_data:/data/db
    expose:
      - 27017
    restart: always
{% if combine_use_syslog %}
    logging:
        driver: syslog
        options:
               tag: combine-database
{% endif %}

volumes:
  backend_data:
  database_data:
  letsencrypt:
  cert_store:
  certbot_data:
