version: "3.3"
services:
  backend:
{% if combine_pull_images %}
    image: {{ combine_image_backend }}
{% else %}
    build: ./Backend
{% endif %}
    volumes:
      - backend_data:/home/app/.CombineFiles
    expose:
      - 5000
    depends_on:
      - database
    labels:
{% if kompose_pull_secret is defined and kompose_pull_secret | length %}
      kompose.image-pull-secret: {{ kompose_pull_secret }}
{% endif %}
    env_file:
      - ./.env.backend
    restart: always
    labels:
      kompose.volume.size: {{ backend_data_size }}

  frontend:
{% if combine_pull_images %}
    image: {{ combine_image_frontend }}
{% else %}
    build: .
{% endif %}
    labels:
      kompose.service.type: nodeport
{% if kompose_pull_secret is defined and kompose_pull_secret | length %}
      kompose.image-pull-secret: {{ kompose_pull_secret }}
{% endif %}
    env_file:
      - ./.env.frontend
    volumes:
      - letsencrypt:/etc/letsencrypt
      - cert_store:/etc/cert_store
      - certbot_data:/var/www/certbot
    ports:
      - 80:80
      - 443:443
    depends_on:
      - certmgr
      - backend
    restart: always

  certmgr:
{% if combine_pull_images %}
    image: {{ combine_image_certmgr }}
{% else %}
    build: ./certmgr
{% endif %}
    labels:
{% if kompose_pull_secret is defined and kompose_pull_secret | length %}
      kompose.image-pull-secret: {{ kompose_pull_secret }}
{% endif %}
    env_file:
      - ./.env.certmgr
    environment:
      PYTHONUNBUFFERED: 1
    volumes:
      - letsencrypt:/etc/letsencrypt
      - cert_store:/etc/cert_store
      - certbot_data:/var/www/certbot
    restart: always

  database:
    image: mongo:{{ mongodb_version }}
    volumes:
      - database_data:/data/db
    expose:
      - 27017
    restart: always
    labels:
      kompose.volume.size: {{ database_data_size }}


volumes:
  backend_data:
  database_data:
  letsencrypt:
  cert_store:
  certbot_data:
