#!/bin/bash

##########################################################
# This script will signal the sync_cert service to
# check to see if it is time to update the Let's Encrypt
# certificate from thecombine.languagetechnology.org.
# The script may also be run manually (as root) to force
# a check.
##########################################################

set -ef

#
# Check to see if the IFACE environment variable is defined.  If it is, this
# script is being called as a result of a networkd event.  Only trigger the
# sync_cert service if it is the ethernet connection.
#
if [ -z "${IFACE}" ] || [ "$IFACE" == "{{ ansible_interfaces | join(" ") | regex_replace('^.*\\b(e[nt][a-z0-9]+).*$', '\\1') }}" ] ; then
  # get container id for the certmgr container
  CERTMGR_ID=`docker ps | grep certmgr | sed "s/.* \([^ ][^ ]*\)$/\1/"`
  if [ -n "${CERTMGR_ID}" ] ; then
    echo "signalling certmgr (${CERTMGR_ID})"
    docker kill -s SIGUSR1 ${CERTMGR_ID}
  else
    echo "certmgr is not running."
  fi
fi
