---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ k8s_roles.ecr_login.name }}
  namespace: {{ app_namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets", "pods", "pods/attach", "pods/log", "namespaces"]
    verbs: ["list", "get", "watch", "create", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["serviceaccounts"]
    verbs: ["list", "get", "update", "patch"]
  - apiGroups: ["batch"]
    resources: ["jobs", "cronjobs"]
    verbs: ["list", "get", "watch", "create", "update", "patch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ k8s_roles.ecr_login.name + '-binding' }}
  namespace: {{ app_namespace }}
subjects:
{% for acct in k8s_roles.ecr_login.accounts %}
  - kind: ServiceAccount
    name: {{ acct }}
    apiGroup: ""
{% endfor %}
roleRef:
  kind: Role
  name: {{ k8s_roles.ecr_login.name }}
  apiGroup: ""
