{% if my_default_aws_profile is defined and my_default_aws_profile %}
[default]
{% for profile in aws_access_profiles %}
{% if profile == my_default_aws_profile %}
region = {{ aws_access_profiles[profile].region }}
{% endif %}
{% endfor %}

{% endif %}
{% if my_aws_profiles is defined %}
{% for profile in aws_access_profiles %}
{% if profile in my_aws_profiles %}
[profile {{ profile }}]
region = {{ aws_access_profiles[profile].region }}
{% endif %}
{% endfor %}
{% endif %}
