---
################################################
# Group specific configuration items
#
# Group: nuc
################################################

################################################
# Configure Kubernetes cluster
################################################

# Specify which Kubernetes engine to install -
# one of k3s or none.
k8s_engine: k3s

image_pull_secret: aws-login-credentials
use_airgap_images: False

# k8s namespaces
app_namespace: thecombine

k8s_user: sillsdev

################################################
# Support Tool Settings
################################################
install_ip_viewer: True
install_combinectl: True

################################################
# Ingress configuration
ingress_namespace: ingress-nginx

# For the NUCs we want to use the ansible host name
# since that is how we can connect on the local network
# The server name will direct traffic to the production
# server since it is used to get the certificates for the
# NUC.
k8s_dns_name: "{{ ansible_hostname }}"

################################################
# Ethernet settings
################################################
eth_optional: True

################################################
# WiFi access point settings
################################################
has_wifi: True
ap_domain: thecombine.app
ap_ssid: "{{ ansible_hostname }}_ap"
ap_passphrase: "thecombine_pw"
ap_gateway: "10.10.10.1"
ap_hostname: "{{ ansible_hostname }}"

################################################
# hardware monitoring settings
################################################
include_hw_monitoring: True
history_days: 60
