
# NAS File Shares
//{{ nas_name }}/music /home/{{ target_user }}/Music cifs noauto,user,credentials=/home/{{ target_user }}/.nascredentials,iocharset=utf8,vers=2.1 0 0
//{{ nas_name }}/photo /home/{{ target_user }}/Photo cifs noauto,user,credentials=/home/{{ target_user }}/.nascredentials,iocharset=utf8,vers=2.1 0 0
