{
  "Logging": {
    "LogLevel": {
      "Default": "{{ backend_loglevel_default }}",
      "System": "{{ backend_loglevel_system }}",
      "Microsoft": "{{ backend_loglevel_microsoft }}"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "HTTPS": {
        "Url": "https://localhost:5001",
        "Certificate": {
          "Path": "/home/{{ combine_user }}/.ssl/localhost.pfx",
          "Password": "{{ combine_cert_password }}"
        }
      }
    }
  }
}
