{
  "Logging": {
    "LogLevel": {
      "Default": "{{ backend_loglevel_default }}",
      "System": "{{ backend_loglevel_system }}",
      "Microsoft": "{{ backend_loglevel_microsoft }}"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "HTTPS": {
        "Url": "https://localhost:5001",
        "Certificate": {
          "Path": "{{ ssl_path }}/{{ backend_pfx_cert_name }}",
          "Password": "{{ backend_cert_password }}"
        }
      }
    }
  }
}
