{% if my_default_aws_profile is defined and my_default_aws_profile %}
[default]
{% for profile in aws_access_profiles %}
{% if profile == my_default_aws_profile %}
aws_access_key_id = {{ aws_access_profiles[profile].key_id }}
aws_secret_access_key = {{ aws_access_profiles[profile].secret }}
{% endif %}
{% endfor %}

{% endif %}
{% if my_aws_profiles is defined %}
{% for profile in aws_access_profiles %}
{% if profile in my_aws_profiles %}
[{{ profile }}]
aws_access_key_id = {{ aws_access_profiles[profile].key_id }}
aws_secret_access_key = {{ aws_access_profiles[profile].secret }}
{% endif %}
{% endfor %}
{% endif %}
