---
# create the group for the combine user
- name: create group for combine app
  group:
    name: "{{ combine_group }}"
    state: present

# create the combine user
- name: create user for combine app
  user:
    name: "{{ combine_user }}"
    state: present
    password: "{{ combine_password }}"
    group: "{{ combine_group }}"
    groups:
      - docker
    shell: /bin/bash
    append: yes
    generate_ssh_key: yes
