#!/bin/bash

cd {{ combine_app_dir }}
# First clear out any files that are more than 1-2 days old
# See `man find` for details on -atime spec.
docker-compose exec backend finc /home/app/.CombineFiles -name "*.zip" -atime +1 -delete
bin/combine-backup
bin/combine-cleanup
