---
#################################################
# Group specific configuration items
#
# Group: nuc
#################################################

# TheCombine is installed using Ansible and the playbook_install.yml
# playbook.  It will set the IMAGE_TAG environment variable to
# value provided by the user and launch docker-compose
image_tag: "${IMAGE_TAG}"

combine_image_backend: "{{ aws_ecr }}/combine/backend:{{ image_tag }}"
combine_image_frontend: "{{ aws_ecr }}/combine/frontend:{{ image_tag }}"
combine_image_certmgr: "{{ aws_ecr }}/combine/certmgr:{{ image_tag }}"

# SSL cert variables specific to NUC targets
cert_mode: "cert-client"
cert_email: ""
cert_self_renewal: 60
combine_alias_domain_list: []
combine_cert_proxy_list: []

# setup variables for roles/aws_access
aws_user: "{{ combine_user }}"
aws_group: "{{ combine_group }}"

# AWS S3 storage configuration
aws_s3_loc: thecombine.app
aws_s3_backup_loc: "{{ aws_s3_loc }}/backups"
aws_s3_cert_loc: "{{ aws_s3_loc }}/certs"

aws_s3_profile: s3_read_write
aws_ecr_profile: ecr_read_only

my_aws_profiles:
  - "{{ aws_s3_profile }}"
  - "{{ aws_ecr_profile }}"

################################################
# Disable Google reCAPTCHA for the NUC
# (expected to work with no internet connection)
################################################
config_captcha_required: "false"
config_captcha_sitekey: "none"

################################################
# WiFi access point settings
################################################
has_wifi: yes
ap_domain: thecombine.app
ap_ssid: "{{ansible_hostname}}_ap"
# ap_passphrase is defined in ./vault.yml
ap_gateway: "10.10.10.1"
ap_hostname: "{{ansible_hostname}}"

combine_listen_addr: "{{ ap_gateway }}"
