---

- name: create uploads directory
  file:
    name: "{{ www_uploads_dir }}"
    state: directory
    owner: "{{ www_uploads_owner }}"
    group: "{{ www_uploads_group }}"
    mode:  0775

- name: install the react UI pages
  copy:
    src: ../build/
    dest: "{{ www_app_dir }}"
    owner: "{{ www_app_owner }}"
    group: "{{ www_app_group }}"

- name: install backend framework
  copy:
    src: "{{ combine_build_dir }}"
    dest: "{{ combine_backend_dir }}"
    owner: "{{ combine_user }}"
    group: "{{ combine_group }}"
  notify: Restart combine_backend

- name: install runtime configuration
  template:
    src: config.js.j2
    dest: "{{ www_app_dir }}/scripts/config.js"
    owner: "{{ www_app_owner }}"
    group: "{{ www_app_group }}"
