# Default values for backend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Note:
#  Items with the value "Override" are secrets that are to be
#  specified on the helm command line when the chart is installed
#  or upgraded.  DO NOT enter secret values in this file!
#  The ./deploy/scripts/setup_combine.py script automatically creates
#  the overrides from environment variables.  See ./docs/deploy/README.md

global:
  # Update strategy should be "Recreate" or "Rolling Update"
  updateStrategy: Recreate
  # AWS Credentials
  awsAccount: "Override"
  awsDefaultRegion: "Override"
  # Combine variables
  adminUsername: "Override"
  adminPassword: "Override"
  adminEmail: "Override"
  captchaRequired: false
  captchaSecretKey: "Override"
  combineJwtSecretKey: "Override"
  combineSmtpUsername: "Override"
  combineSmtpPassword: "Override"
  emailEnabled: false
  # Values for pulling container image from image registry
  imagePullPolicy: "Override"
  # Define the image registry to use (may be blank for local images)
  imageRegistry: ""
  imageTag: "latest"
  pullSecretName: "None"

  includeResourceLimits: false

persistentVolumeSize: 32Gi
combineExpirePasswordResetMinutes: 15
combineExpireProjectInviteDays: 7
combineSmtpAddress: no-reply@thecombine.app
combineSmtpFrom: "The Combine"
combineSmtpPort: 587
combineSmtpServer: "email-smtp.us-east-1.amazonaws.com"
imageName: combine_backend
captchaVerifyUrl: "https://challenges.cloudflare.com/turnstile/v0/siteverify"
