.buttonHighlight:after {
  animation: highlight 3s ease-in-out infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.buttonHighlight:disabled::after {
  animation: none;
  background: none;
}

@keyframes highlight {
  70% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -50%;
    left: -50%;
    transition-property: left, top, opacity;
  }
}
