---

- name: Setup Ubuntu Server
  hosts: all
  become: yes

  vars:
    config: developer
    vm_vendors:  [ "innotek GmbH" ]

  vars_files:
    - "vars/config_common.yml"
    - "vars/config_{{ config }}.yml"

  roles:
    - role: ansible-depends
    - role: headless
    - role: nodejs
    - role: mongodb
    - role: dotnet_core
    - role: ssl_config
    - role: apache_config
    - role: wifi_ap
      when: ansible_system_vendor not in vm_vendors
    - role: the_combine_app
