---
- name: Install packages to create the Access Point
  apt: name=hostapd,dnsmasq
    update_cache=yes
    cache_valid_time=3600
    state=present
  notify: Start create_ap

- name: populate service facts
  service_facts:

- name: Stop service
  service: name=create_ap
    state=stopped
  when: "'create_ap' in services"
  notify: Restart create_ap

- name: Install create_ap script
  copy:
    src: create_ap/create_ap
    dest: /usr/bin/create_ap
    owner: root
    group: root
    mode: 0755
  notify: Start create_ap

- name: Create service configuration directory
  file:
    path: /etc/create_ap
    state: directory
    owner: root
    group: root
    mode: 0755
  notify: Start create_ap

- name: Add access point configuration
  template:
    src: create_ap.conf.j2
    dest: /etc/create_ap/create_ap.conf
    owner: root
    group: root
    mode: 0644
  notify: Restart create_ap

- name: Set /etc/hosts to redirect thecombine to WiFi address
  template:
    src: etc_hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644

- name: Install hosts lists for access point
  template:
    src: create_ap.hosts.j2
    dest: /etc/create_ap/create_ap.hosts
    owner: root
    group: root
    mode: 0644
  notify: Restart create_ap

- name: Create service directory
  file:
    path: /usr/lib/systemd/system
    state: directory
    owner: root
    group: root
    mode: 0755
  notify: Start create_ap

- name: Setup create_ap service files
  copy:
    src: create_ap/create_ap.service
    dest: /usr/lib/systemd/system/create_ap.service
    owner: root
    group: root
    mode: 0644
  notify: Start create_ap

- name: Create bash command completion directory
  file:
    path: /usr/share/bash-completion/completions
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Setup bash command completion
  copy:
    src: create_ap/bash_completion
    dest: /usr/share/bash-completion/completions/create_ap
    owner: root
    group: root
    mode: 0644

- name: Create directory for create_ap documentation
  file:
    path: /usr/share/doc/create_ap/
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Install create_ap documentation
  copy:
    src: create_ap/README.md
    dest: /usr/share/doc/create_ap/README.md
    owner: root
    group: root
    mode: 0644
