---
#################################################
# Group specific configuration items
#
# Group: server
#################################################

# configure URL to access the application
url_domain: "{{ lookup('env', 'TOPLEVELDOMAIN') | default('languagetechnology.org', true) }}"
url_hostname: "thecombine"


###############################################
# Configuration for Combine User (& SSL config)
###############################################
combine_user: combine
combine_group: combine

#apache web server config items
apache_listen_address: "*"
apache_ssl_path: "/etc/letsencrypt/live/{{ apache_server_name }}"
apache_cert_name: "cert.pem"
apache_key_name:  "privkey.pem"
apache_csr_name:  "{{ url_hostname }}.csr"

#set backend logging levels
app_loglevel: "Debug"
sys_loglevel: "Debug"
ms_loglevel: "Debug"


certbot_install_from_source: no
certbot_auto_renew: true
certbot_auto_renew_user: root
certbot_auto_renew_hour: 3
certbot_auto_renew_minute: 30
#certbot_auto_renew_options: "--quiet --no-self-upgrade --pre-hook 'systemctl stop apache2' --post-hook 'systemctl start apache2' "
certbot_auto_renew_options: "--quiet --no-self-upgrade "
certbot_admin_email: jimgrady.jg@gmail.com
certbot_create_if_missing: true
certbot_create_method: standalone
certbot_certs:
  - domains:
      - "{{ url_hostname }}.{{ url_domain }}"
certbot_create_command: "{{ certbot_script }} certonly --standalone --noninteractive --agree-tos --email {{ cert_item.email | default(certbot_admin_email) }} -d {{ cert_item.domains | join(',') }}"
certbot_create_standalone_stop_services:
  - apache2
