apiVersion: v1
kind: Secret
metadata:
  name: registry-creds-dpr
  namespace: kube-system
  labels:
    app: registry-creds
    cloud: private
data:
  DOCKER_PRIVATE_REGISTRY_SERVER: {{ docker_server | b64encode }}
  DOCKER_PRIVATE_REGISTRY_USER: {{ docker_user | b64encode }}
  DOCKER_PRIVATE_REGISTRY_PASSWORD: {{ docker_password | b64encode }}
type: Opaque

---

apiVersion: v1
kind: Secret
metadata:
  name: registry-creds-ecr
  namespace: kube-system
  labels:
    app: registry-creds
    cloud: ecr
data:
  AWS_ACCESS_KEY_ID: {{ aws_access_profiles.ecr_read_only.key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ aws_access_profiles.ecr_read_only.secret | b64encode }}
  AWS_SESSION_TOKEN: ""
  aws-account: {{ aws_account | b64encode }}
  aws-region: {{ aws_region | b64encode }}
  aws-assume-role: ""
type: Opaque

---

apiVersion: v1
kind: Secret
metadata:
  name: registry-creds-gcr
  namespace: kube-system
  labels:
    app: registry-creds
    cloud: gcr
data:
  application_default_credentials.json: Y2hhbmdlbWU=
  gcrurl: aHR0cHM6Ly9nY3IuaW8=
type: Opaque

---

apiVersion: v1
kind: Secret
metadata:
  name: registry-creds-acr
  namespace: kube-system
  labels:
    app: registry-creds
    cloud: acr
data:
  ACR_URL: Y2hhbmdlbWU=
  ACR_CLIENT_ID: Y2hhbmdlbWU=
  ACR_PASSWORD: Y2hhbmdlbWU=
type: Opaque
