---

- name: Add repository to install last Apache version
  apt_repository:
    repo="{{apache_repository}}"
    update_cache=yes
  when: apache_repository != false

- name: Install packages.
  apt:
    update_cache=yes
    cache_valid_time=3600
    pkg="{{apache_install}}"
    state=present
  when: apache_install != false
