#!/bin/bash

cd {{ combine_app_dir }}

# Backup the CombineDatabase and the .CombineFiles in the backend
bin/combine_backup.py {{ combine_backup_args | default('') }}
# Cleanup the old backups stored in AWS S3 service
bin/combine-clean-aws
