apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  name: database-data
  namespace: {{ app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ database_data_size }}
{% if k8s_storage_class is defined %}
  storageClassName: {{ k8s_storage_class }}
{% endif %}
status: {}
