apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: env-backend-secrets
  namespace: {{ app_namespace }}
type: Opaque
data:
  COMBINE_JWT_SECRET_KEY: {{ combine_jwt_secret_key | b64encode }}
  COMBINE_SMTP_USERNAME: {{ combine_smtp_username | b64encode }}
  COMBINE_SMTP_PASSWORD: {{ combine_smtp_password | b64encode }}
