apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: env-frontend
  namespace: {{ app_namespace }}
data:
  CERT_ADDL_DOMAINS: ""
  CERT_PROXY_DOMAINS: ""
  CONFIG_CAPTCHA_REQD: "{{ config_captcha_required }}"
  CONFIG_CAPTCHA_SITE_KEY: {{ config_captcha_sitekey }}
  CONFIG_USE_CONNECTION_URL: "true"
  SERVER_NAME: "{{ combine_server_name }}"
{% if http_only is defined and http_only %}
  ENV_HTTP_ONLY: "yes"
{% else %}
  ENV_HTTP_ONLY: "no"
  SSL_CERTIFICATE: "{{ ssl_certificate }}"
  SSL_PRIVATE_KEY: "{{ ssl_private_key }}"
{% endif %}
