apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (955b78124)
    kompose.volume.size: 2Gi
  creationTimestamp: null
  labels:
    io.kompose.service: database
  name: database
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: "27017"
      port: 27017
      targetPort: 27017
  selector:
    io.kompose.service: database
status:
  loadBalancer: {}
