apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: cert-store
  name: cert-store
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ cert_store_data_size }}
status: {}
