apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: certbot-data
  name: certbot-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ certbot_data_size }}
status: {}
