apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.22.0 (955b78124)
  creationTimestamp: null
  labels:
    io.kompose.service: certmgr
  name: certmgr
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: certmgr
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.22.0 (955b78124)
      creationTimestamp: null
      labels:
        io.kompose.service: certmgr
    spec:
      containers:
        - env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: AWS_ACCESS_KEY_ID
                  name: env-certmgr-secrets
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  key: AWS_DEFAULT_REGION
                  name: env-certmgr-secrets
            - name: AWS_S3_CERT_LOC
              valueFrom:
                secretKeyRef:
                  key: AWS_S3_CERT_LOC
                  name: env-certmgr-secrets
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: AWS_SECRET_ACCESS_KEY
                  name: env-certmgr-secrets
            - name: CERT_ADDL_DOMAINS
              valueFrom:
                configMapKeyRef:
                  key: CERT_ADDL_DOMAINS
                  name: env-certmgr
            - name: CERT_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: CERT_EMAIL
                  name: env-certmgr
            - name: CERT_MODE
              valueFrom:
                configMapKeyRef:
                  key: CERT_MODE
                  name: env-certmgr
            - name: CERT_PROXY_DOMAINS
              valueFrom:
                configMapKeyRef:
                  key: CERT_PROXY_DOMAINS
                  name: env-certmgr
            - name: CERT_PROXY_RENEWAL
              valueFrom:
                configMapKeyRef:
                  key: CERT_PROXY_RENEWAL
                  name: env-certmgr
            - name: CERT_SELF_RENEWAL
              valueFrom:
                configMapKeyRef:
                  key: CERT_SELF_RENEWAL
                  name: env-certmgr
            - name: CERT_STAGING
              valueFrom:
                configMapKeyRef:
                  key: CERT_STAGING
                  name: env-certmgr
            - name: MAX_CONNECT_TRIES
              valueFrom:
                configMapKeyRef:
                  key: MAX_CONNECT_TRIES
                  name: env-certmgr
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: SERVER_NAME
              valueFrom:
                configMapKeyRef:
                  key: SERVER_NAME
                  name: env-certmgr
          image: '{{ combine_image_certmgr }}'
          name: certmgr
          resources: {}
          volumeMounts:
            - mountPath: /etc/letsencrypt
              name: letsencrypt
            - mountPath: /etc/cert_store
              name: cert-store
            - mountPath: /var/www/certbot
              name: certbot-data
      restartPolicy: Always
{% if image_pull_secrets is defined and image_pull_secrets | length %}
      imagePullSecrets:
{% for secret in image_pull_secrets %}
         - name: {{ secret }}
{% endfor %}
{% endif %}
{% if node_site is defined and node_site | length %}
      nodeSelector:
        site: {{ node_site }}
{% endif %}
      volumes:
        - name: letsencrypt
          persistentVolumeClaim:
            claimName: letsencrypt
        - name: cert-store
          persistentVolumeClaim:
            claimName: cert-store
        - name: certbot-data
          persistentVolumeClaim:
            claimName: certbot-data
status: {}
