apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: certmgr-claim3
  name: certmgr-claim3
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: {{ certmgr_data_size }}
status: {}
