apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-thecombine
  namespace: {{ app_namespace }}
  annotations:
    kubernetes.io/ingress.class: {{ ingress_class }}
    nginx.ingress.kubernetes.io/proxy-body-size: "250m"
{% if "cert_manager" in k8s_components %}
    cert-manager.io/issuer: {{ cert_issuer }}
{% endif %}
spec:
  tls:
  - hosts:
    - {{ combine_server_name }}
    secretName: {{ combine_secret_name}}
  rules:
  - host: {{ combine_server_name }}
    http:
      paths:
      - backend:
          service:
            name: frontend
            port:
              number: 80
        path: /
        pathType: Prefix
