apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    combine-component: backend
  name: backend
  namespace: {{ app_namespace }}
spec:
  ports:
    - name: "5000"
      port: 5000
      targetPort: 5000
  selector:
    combine-component: backend
status:
  loadBalancer: {}
