{% if my_default_aws_profile is defined and my_default_aws_profile %}
[default]
{% for profile in aws_access_profiles %}
{% if profile.name == my_default_aws_profile %}
aws_access_key_id = {{ profile.key_id }}
aws_secret_access_key = {{ profile.secret }}
{% endif %}
{% endfor %}

{% endif %}
{% if my_aws_profiles is defined %}
{% for profile in aws_access_profiles %}
{% if profile.name in my_aws_profiles %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.key_id }}
aws_secret_access_key = {{ profile.secret }}
{% endif %}
{% endfor %}
{% endif %}
