---
#########################
# Handlers for setting
# up hardware monitoring
#########################

- name: restart target
  reboot:
  when: ansible_connection != "local"

- name: restart sysstat service
  service:
    name: sysstat
    state: restarted

