# Default values for frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  serverName: localhost
  # Combine variables
  captchaRequired: false
  emailEnabled: false
  # Update strategy should be "Recreate" or "Rolling Update"
  updateStrategy: Recreate
  # Values for pulling container image from image registry
  imagePullPolicy: "Override"
  # Define the image registry to use (may be blank for local images)
  imageRegistry: ""
  imageTag: "latest"
  pullSecretName: "None"

  includeResourceLimits: false

imageName: combine_frontend

# The additional domain list is a space-separated string list of domains
combineAddlDomainList: ""
configCaptchaSiteKey: ""
configOffline: false
