# Default values for frontend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  combineSmtpUsername: "Override"
  serverName: localhost
  pullSecretName: aws-login-credentials
  # Update strategy should be "Recreate" or "Rolling Update"
  updateStrategy: Recreate
  # Values for pulling container image from image registry
  imagePullPolicy: "Override"
  imageTag: "latest"
  # Define the image registry to use (may be blank for local images)
  imageRegistry: ""
  # Email services
  emailEnabled: "true"
  # CAPTCHA verification
  captchaRequired: "true"

imageName: combine_frontend

# The additional domain list is a space-separated string list of domains
combineAddlDomainList: ""
configCaptchaSiteKey: "None - from frontend chart"
configOffline: "false"
configShowCertExpiration: "false"
configAnalyticsWriteKey: ""
