# Define the charts that need to be installed for each cluster type
clusters:
  standard:
    - nginx-ingress-controller
  development:
    - cert-manager
    - nginx-ingress-controller
    - otel
  rancher:
    - rancher-ui
  cert-manager:
    - cert-manager
  ingress:
    - nginx-ingress-controller

# Specify how each chart is to be installed.  The "repo" key specified which
# helm repository needs to be added and the "chart" key specifies how to
# install/update the chart.

otel:
  repo:
    name: open-telemetry
    url: https://open-telemetry.github.io/opentelemetry-helm-charts
  chart:
    name: otel
    reference: open-telemetry/opentelemetry-collector
    namespace: thecombine
    wait: true
    # Additional arguments to pass to helm install/upgrade
    # values inside curly braces ({}) are interpreted as
    # environment variables and their values will be substituted for
    # the curly brace expression.
    additional_args:
      - --values
      - "{SCRIPTS_DIR}/setup_files/collector_config.yaml"
      - --set
      - config.exporters.otlp.headers.x-honeycomb-team={HONEYCOMB_API_KEY}

cert-manager:
  repo:
    name: jetstack
    url: https://charts.jetstack.io
  chart:
    name: cert-manager
    reference: jetstack/cert-manager
    namespace: cert-manager
    version: v1.17.1
    wait: true
    override:
      crds:
        enabled: true

nginx-ingress-controller:
  repo:
    name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  chart:
    name: ingress-controller
    reference: ingress-nginx/ingress-nginx
    namespace: ingress-nginx
    wait: true

rancher-ui:
  repo:
    name: rancher-latest
    url: https://releases.rancher.com/server-charts/latest
  chart:
    name: rancher
    reference: rancher-stable/rancher
    namespace: cattle-system
    version: 2.10.4
    wait: true
    override:
      hostname: rancher.thecombine.app
      bootstrapPassword: admin
      ingress:
        extraAnnotations:
          kubernetes.io/ingress.class: nginx
