---
- name: Create directory for The Combine configuration files
  file:
    path: "{{ k8s_combine_cfg }}"
    state: directory
    mode: 0700

- name: Create Kubernetes configuration files
  template:
    src: "{{ item }}.j2"
    dest: "{{ k8s_combine_cfg }}/{{ item }}"
    mode: 0600
  loop: "{{ k8s_resource_templates}}"
  tags:
    - config_only

- name: Apply Kubernetes configuration
  command: kubectl --kubeconfig={{ kubecfg }} apply -f {{ item }}
  args:
    chdir: "{{ k8s_combine_cfg }}"
  loop: "{{ k8s_resource_templates}}"
