[Unit]
Description=Display ethernet address on external device
Wants=display-eth-addr.timer

[Service]
Type=oneshot
ExecStart="{{ enddate_update_dir }}/{{ enddate_update_program }}"

[Install]
WantedBy=multi-user.target
