---
##################################
# Install network-manager if
# necessary and setup dummy
# ethernet connection for
# air gap operation.
##################################

- name: Install network-manager
  apt:
    name: network-manager

- name: Set network-manager as renderer
  copy:
    src: 01-network-manager-all.yaml
    dest: /etc/netplan/01-network-manager-all.yaml
    owner: root
    group: root
    mode: 0600
  notify: Apply netplan

- meta: flush_handlers

- name: Ensure NetworkManager is started and enabled
  systemd:
    name: NetworkManager
    state: started
    enabled: yes

###
# Create a virtual network interface so that k3s can run
# when no ethernet connection is attached.
###
- name: Create virtual IP connection
  community.general.nmcli:
    conn_name: "dummy-{{ virtual_if }}"
    ifname: "{{ virtual_if }}"
    autoconnect: yes
    ip4: 172.16.1.23/16
    gw4: 172.16.1.23
    method4: "manual"
    route_metric4: 999
    method6: "link-local"
    route_metric6: 999
    state: "present"
    type: "dummy"

- name: Configure resolv.conf to use {{ ap_gateway }} as DNS nameserver
  template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf
    owner: root
    group: root
    mode: 0644
  notify: Restart resolved
  when: has_wifi
