apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: {{ aws_ecr_login.config_name }}
  namespace: {{ app_namespace }}
data:
  NAMESPACES: {{ app_namespace }}
  SECRET_NAME: "{{ aws_ecr_login.secrets_name }}"
  DOCKER_EMAIL: {{ combine_admin_email }}
