apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ aws_ecr_login.job_name }}"
  namespace: {{ app_namespace }}
spec:
  ttlSecondsAfterFinished: 300
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: {{ aws_ecr_login.image }}
        imagePullPolicy: IfNotPresent
        name: "{{ aws_ecr_login.job_name }}"
        volumeMounts:
          - name: cluster-kubeconfig
            mountPath: /home/user/.kube
        command:
          - ecr-get-login.sh
        env:
        - name: AWS_DEFAULT_REGION
          valueFrom:
            secretKeyRef:
              key: AWS_DEFAULT_REGION
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: AWS_SECRET_ACCESS_KEY
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AWS_ACCESS_KEY_ID
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_ACCOUNT
          valueFrom:
            secretKeyRef:
              key: AWS_ACCOUNT
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: NAMESPACES
          valueFrom:
            configMapKeyRef:
              key: NAMESPACES
              name: "{{ aws_ecr_login.config_name }}"
        - name: PULL_SECRET_NAME
          valueFrom:
            configMapKeyRef:
              key: PULL_SECRET_NAME
              name: "{{ aws_ecr_login.config_name }}"
        - name: DOCKER_EMAIL
          valueFrom:
            configMapKeyRef:
              key: DOCKER_EMAIL
              name: "{{ aws_ecr_login.config_name }}"
        resources: {}
        securityContext:
          capabilities: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: Default
      restartPolicy: Never
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
        - name: cluster-kubeconfig
          secret:
            secretName: "{{ k8s_config_secret }}"
