---
apiVersion: v1
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: {{ aws_ecr_login.config_name }}
  namespace: {{ aws_namespace }}
data:
  NAMESPACES: {{ aws_namespace }}
  PULL_SECRET_NAME: "{{ aws_ecr_login.pull_secret_name }}"
  DOCKER_EMAIL: {{ combine_admin_email }}
