apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: "{{ aws_ecr_login.secrets_name }}"
  namespace: {{ app_namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ aws_access_profiles.ecr_read_only.key_id | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ aws_access_profiles.ecr_read_only.secret | b64encode }}
  AWS_ACCOUNT: {{ aws_account | b64encode }}
  AWS_DEFAULT_REGION: {{ aws_region | b64encode }}
