---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ aws_ecr_login.job_name }}"
  namespace: {{ aws_namespace }}
spec:
  # keep completed jobs for 24 hrs so that logs are
  # available in case of issues
  ttlSecondsAfterFinished: 86400
  template:
    metadata:
      creationTimestamp: null
    spec:
{% if aws_service_account is defined %}
      serviceAccountName: {{ aws_service_account }}
{% endif %}
      containers:
      - image: {{ aws_ecr_login.image }}
        imagePullPolicy: IfNotPresent
        name: "{{ aws_ecr_login.job_name }}"
        command:
          - ecr-get-login.sh
        env:
        - name: AWS_DEFAULT_REGION
          valueFrom:
            secretKeyRef:
              key: AWS_DEFAULT_REGION
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: AWS_SECRET_ACCESS_KEY
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AWS_ACCESS_KEY_ID
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: AWS_ACCOUNT
          valueFrom:
            secretKeyRef:
              key: AWS_ACCOUNT
              name: "{{ aws_ecr_login.secrets_name }}"
        - name: NAMESPACES
          valueFrom:
            configMapKeyRef:
              key: NAMESPACES
              name: "{{ aws_ecr_login.config_name }}"
        - name: PULL_SECRET_NAME
          valueFrom:
            configMapKeyRef:
              key: PULL_SECRET_NAME
              name: "{{ aws_ecr_login.config_name }}"
        - name: DOCKER_EMAIL
          valueFrom:
            configMapKeyRef:
              key: DOCKER_EMAIL
              name: "{{ aws_ecr_login.config_name }}"
        resources: {}
        securityContext:
          capabilities: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: Default
      restartPolicy: Never
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
