#!/bin/bash

##########################################################
# This script will signal the sync_cert service to
# check to see if it is time to update the Let's Encrypt
# certificate from thecombine.languagetechnology.org.
# The script may also be run manually (as root) to force
# a check.
##########################################################

set -ef -o pipefail

#
# Check to see if the IFACE environment variable is defined.  If it is, this
# script is being called as a result of a networkd event.  Only trigger the
# sync_cert service if it is the ethernet connection.
#
if [ -z "${IFACE}" ] || [ "$IFACE" == "{{ ansible_interfaces | join(" ") | regex_replace('^.*\\b(e[nt][a-z0-9]+).*$', '\\1') }}" ] ; then
  if systemctl is-active --quiet sync_cert; then
    # get PID for the certificate update process
    SVC_PID=`systemctl status sync_cert | grep "Main PID" | sed -E 's/^ *Main PID: ([0-9][0-9]*) *.*/\1/'`

    kill -SIGUSR1 ${SVC_PID}
  fi
fi
