---
ap_ssid: "{{ ansible_hostname }}_ap"
ap_passphrase: "Set a new passphrase in your config file."
ap_gateway: "10.10.10.1"
ap_domain: thecombine.app
ap_hostname: "{{ ansible_hostname }}"

wifi_if_name: "{{ ansible_interfaces | join(' ') | regex_replace('^.*\\b(wl[a-z0-9]+).*$', '\\1') }}"
ap_hosts_config: /etc/create_ap/create_ap.hosts
create_ap_config: /etc/create_ap/create_ap.conf

test_wifi: True
