---
################################################
# Profile specific configuration items
#
# Profile: nuc
################################################

charts:
  thecombine:
    aws-login:
      enabled: true
    global:
      awsS3Location: prod.thecombine.app
      captchaRequired: false
      emailEnabled: false
      imagePullPolicy: Always
    frontend:
      configOffline: true
    maintenance:
      localLangList:
        - "ar"
        - "en"
        - "es"
        - "fr"
        - "pt"
        - "zh"

    cert-proxy-client:
      enabled: true

    certManager:
      enabled: false
