---
################################################
# Profile specific configuration items
#
# Profile: prod
################################################

charts:
  thecombine:
    # Disable AWS Login - only run released images from
    # public.ecr.aws/thecombine
    aws-login:
      enabled: false
    # Frontend configuration items:
    frontend:
      configCaptchaSiteKey: "0x4AAAAAAAiMciPlBW1aA1iL" # Turnstile site key
    # Maintenance configuration items
    maintenance:
      #######################################
      # Backup Schedule
      # Run every day at 03:15 UTC
      backupSchedule: "15 03 * * *"
      # Maximum number of backups to keep on AWS S3 service
      maxBackups: "7"
      # Maximum number of monthly backups (1st of month) to keep on AWS S3 service
      maxMonthlyBackups: "3"
      #######################################
      # Update font schedule
      # Run every Sunday at 02:15 UTC
      updateFontsSchedule: "15 02 * * 0"
    global:
      awsS3Location: prod.thecombine.app
      captchaRequired: true
      emailEnabled: true
      fontStorageAccessMode: ReadWriteMany
      imagePullPolicy: Always
      pullSecretName: None
      includeResourceLimits: true
    certManager:
      enabled: false
  cert-proxy-server:
    aws-login:
      enabled: false
    global:
      awsS3Location: prod.thecombine.app
      pullSecretName: None
    combineCertProxyList:
      - hostname: nuc1.thecombine.app
        bucket: prod.thecombine.app
      - hostname: nuc2.thecombine.app
        bucket: prod.thecombine.app
      - hostname: nuc3.thecombine.app
        bucket: prod.thecombine.app
      - hostname: local.thecombine.app
        bucket: local.thecombine.app
