---
################################################
# Profile specific configuration items
#
# Profile: staging
################################################

charts:
  thecombine:
    # Frontend configuration items:
    frontend:
      configCaptchaSiteKey: "0x4AAAAAAAiMciPlBW1aA1iL" # Turnstile site key
    global:
      awsS3Location: prod.thecombine.app
      captchaRequired: true
      emailEnabled: true
      fontStorageAccessMode: ReadWriteMany
      imagePullPolicy: Always
      includeResourceLimits: true
    tlsSecretName: thecombine-app-tls
    certManager:
      enabled: false
