---

# Configuration variable that are common to production and development

# configure URL to access the application
url_domain: "{{ lookup('env', 'TOPLEVELDOMAIN') | default('languagetechnology.org', true) }}"
url_hostname: "thecombine"

#wifi access point variables
ap_ssid: "{{ ansible_hostname }}_ap"
ap_gateway: "10.10.10.1"
ap_domain: "{{ url_domain }}"
ap_hostname: "{{ url_hostname }}"
ap_passphrase: "BigRed@1979"

www_app_dir: "/var/www/{{ url_hostname }}.org/htdocs"
www_app_owner: www-data
www_app_group: www-data

# Combine Application variables
www_uploads_dir: /var/thecombine/uploads
www_uploads_owner: www-data
www_uploads_group: www-data


combine_backend_dir: /home/{{ combine_user }}/Backend

###############################################
# non-root user for accessing certificates from
# the certificate server,
#(thecombine.languagetechnology.org)
###############################################
cert_server_user:  cert-user
cert_server_login_key_path: site_files/root_keys

# mongo_path: /hddlinux/mongodb
mongo_path: /var/lib/mongodb

### Version/distro
base_distribution: "{{ansible_distribution | lower}}"
base_distribution_release: "{{ansible_distribution_release}}"

###############################################
# Configuration for Combine User (& SSL config)
###############################################
combine_user: combine
combine_group: combine

###############################################
# Backend logging levels
# To override the default logging level, run the playbook
# with the following option:
#  -e app_loglevel='Debug'
###############################################
backend_loglevel_default: "{{ app_loglevel | default('Information') }}"
backend_loglevel_system: Information
backend_loglevel_microsoft: Information


###############################################
# SSL config for certificate for Backend Web Server (Kestrel)
###############################################
backend_cert_name: "localhost.pem"
backend_key_name:  "localhost.key"
backend_csr_name:  "localhost.csr"

backend_pfx_cert_name:    "localhost.pfx"
backend_cert_email:    jimgrady.jg@gmail.com
backend_cert_country:  US
backend_cert_state:    Texas
backend_cert_locality: Dallas
backend_cert_org:      SIL International

ssl_path: "/home/{{ combine_user }}/.ssl"
ssl_path_owner: "{{ combine_user }}"
ssl_path_group: "{{ combine_user }}"

ssl_letsencrypt_install: false

ssl_items:
  - name:  "localhost"
    state: selfsign
    request:
        country_code: "{{ backend_cert_country }}"
        state: "{{ backend_cert_state }}"
        locality: "{{ backend_cert_locality }}"
        organization: "{{ backend_cert_org }}"
        organization_unit: "Language Technology"
        common_name: "{{ url_hostname }}"
        alt_names:
          - key: DNS.1
            value: "localhost"
    sign:

# Apache configuration
apache_server_name: "{{ url_hostname }}.{{ url_domain }}"
# apache_ssl_path: "/etc/letsencrypt/live/{{ apache_server_name }}"
# apache_ssl_path: "/etc/apache2/ssl"
# apache_cert_name: "cert.pem"
# apache_key_name:  "privkey.pem"
# apache_csr_name:  "{{ url_hostname }}.csr"

apache_module_enable:
  - headers
  - proxy
  - proxy_http
  - proxy_wstunnel
  - rewrite
  - ssl

apache_site_enable:
  - "{{ url_hostname }}_languagetechnology_org.conf"

apache_vhosts:
  - server_name: "{{ apache_server_name }}"
    server_admin: jimgrady.jg@gmail.com
    server_file_name: "{{ url_hostname }}_languagetechnology_org"
    template: vhost_proxypath_ssl.conf.j2
    document_root: "{{ www_app_dir }}"
    directory_extra:
      - RewriteEngine On
    virtual_hosts:
      - has_ssl: false
        listen: "{{ ap_gateway }}"
        port: 80
        has_redirect_permanent: true

      - has_ssl: true
        listen: "{{ ap_gateway }}"
        port: 443
        log_level: debug
        ssl_path: "/etc/letsencrypt/live/{{ apache_server_name }}"
        certificate_file: "cert.pem"
        key_file: "privkey.pem"
#        chain_file: "fullchain.pem"
        extra:
        - '<ifModule mod_headers.c>'
        - '    <Files "service-worker.js">'
        - '        Header Set Service-Worker-allowed "/"'
        - '    </Files>'
        - '</IfModule>'
        reverse_proxy: true
        proxy:
          - '/v1/ https://127.0.0.1:5001/v1/'
