---
#################################################
# Group specific configuration items
#
# Group: server
#################################################


# TheCombine is installed on the Live Server by TeamCity.  It will set the
# IMAGE_TAG environment variable to major.minor.build_no and launch
# Docker compose
image_tag: "${IMAGE_TAG}"

combine_image_backend: "{{ aws_ecr }}/combine/backend:{{ image_tag }}"
combine_image_frontend: "{{ aws_ecr }}/combine/frontend:{{ image_tag }}"
combine_image_certmgr: "{{ aws_ecr }}/combine/certmgr:{{ image_tag }}"

# SSL cert variables specific to Server targets
cert_mode: "letsencrypt"
cert_email: "jimgrady.jg@gmail.com"


aws_user: "{{ combine_user }}"
aws_group: "{{ combine_group }}"

# Live server accesses the following AWS services:
# S3:
#   - store SSL certificates for the NUCs
#   - store backups
# ECR:
#   - install container images
my_aws_profiles:
    - s3_read_write
    - ecr_read_only
