name: backend

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: ["6.0.x"]
    steps:
      - uses: actions/checkout@v3
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet }}

      # Coverage.
      - run: pwd && dotnet test Backend.Tests/Backend.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
        shell: bash
      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          files: Backend.Tests/coverage.cobertura.xml
          flags: backend
          name: Backend
          fail_ci_if_error: true
          verbose: true

      # Development build.
      - run: dotnet build BackendFramework.sln

      # Release build.
      - run: dotnet publish BackendFramework.sln

      # Fmt.
      - run: dotnet tool install -g dotnet-format
      - run: dotnet-format --check

  CodeQL_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      # Manually install .NET to work around:
      # https://github.com/github/codeql-action/issues/757
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "6.0.x"
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: csharp
      - name: Autobuild
        uses: github/codeql-action/autobuild@v2
      - name: Upload artifacts if build failed
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: tracer-logs
          path: ${{ runner.temp }}/*.log
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  docker_build:
    runs-on: ubuntu-latest
    if: ${{ github.event.type }} == "PullRequest"
    steps:
      # For subfolders, currently a full checkout is required.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build backend
        run: |
          deploy/scripts/build.py --components backend
        shell: bash
      - name: Image digest
        run: |
          docker image inspect combine_backend:latest -f '{{json .Id}}'
        shell: bash
