name: backend

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  test_build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        dotnet: ["6.0.x"]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f # v2.3.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            aka.ms:443
            api.github.com:443
            api.nuget.org:443
            codecov.io:443
            dc.services.visualstudio.com:443
            dotnetcli.azureedge.net:443
            github.com:443
            storage.googleapis.com:443
            uploader.codecov.io:443
            deb.debian.org:80
            deb.debian.org:443
            security.debian.org:80
            security.debian.org:443
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Setup dotnet
        uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # v3.0.3
        with:
          dotnet-version: ${{ matrix.dotnet }}

      # Coverage.
      - name: run coverage tests
        run: dotnet test Backend.Tests/Backend.Tests.csproj
        shell: bash
      - name: Upload coverage report
        uses: codecov/codecov-action@d9f34f8cd5cb3b3eb79b3e4b5dae3a16df499a70 # v3.1.1
        with:
          files: Backend.Tests/coverage.cobertura.xml
          flags: backend
          name: Backend
          fail_ci_if_error: true

      # Development build.
      - run: dotnet build BackendFramework.sln

      # Release build.
      - run: dotnet publish BackendFramework.sln

      # Fmt.
      - run: dotnet tool install -g dotnet-format
      - run: dotnet-format --check

  CodeQL_build:
    permissions:
      actions: read # for github/codeql-action/init to get workflow details
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/autobuild to send a status report
    runs-on: ubuntu-20.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f # v2.3.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            aka.ms:443
            api.github.com:443
            api.nuget.org:443
            dc.services.visualstudio.com:443
            dotnetcli.azureedge.net:443
            github.com:443
            objects.githubusercontent.com:443

      - name: Checkout repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      # Manually install .NET to work around:
      # https://github.com/github/codeql-action/issues/757
      - name: Setup .NET
        uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a # v3.0.3
        with:
          dotnet-version: "6.0.x"
      - name: Initialize CodeQL
        uses: github/codeql-action/init@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12
        with:
          languages: csharp
      - name: Autobuild
        uses: github/codeql-action/autobuild@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12
      - name: Upload artifacts if build failed
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        if: ${{ failure() }}
        with:
          name: tracer-logs
          path: ${{ runner.temp }}/*.log
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12

  docker_build:
    runs-on: ubuntu-22.04
    #    if: ${{ github.event.type }} == "PullRequest"
    steps:
      # For subfolders, currently a full checkout is required.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - name: Harden Runner
        uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f # v2.3.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.nuget.org:443
            dc.services.visualstudio.com:443
            deb.debian.org:80
            github.com:443
            docker.io:443
            auth.docker.io:443
            registry-1.docker.io:443
            production.cloudflare.docker.com
            security.debian.org
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
      - name: Build backend
        run: |
          deploy/scripts/build.py --components backend
        shell: bash
      - name: Image digest
        run: |
          docker image inspect combine_backend:latest -f '{{json .Id}}'
        shell: bash
