name: backend

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: ["5.0.x"]
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}

      # Coverage.
      - run: dotnet test Backend.Tests/Backend.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          file: Backend.Tests/coverage.cobertura.xml
          flags: backend

      # Development build.
      - run: dotnet build BackendFramework.sln

      # Release build.
      - run: dotnet publish BackendFramework.sln

      # Fmt.
      - run: dotnet tool install -g dotnet-format
      - run: dotnet-format --check

  CodeQL_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: csharp
      - name: Autobuild
        uses: github/codeql-action/autobuild@v1
      - name: Upload artifacts if build failed
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: tracer-logs
          path: ${{ runner.temp }}/*.log
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1

  docker_build:
    runs-on: ubuntu-latest
    steps:
      # For subfolders, currently a full checkout is required.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: Backend
          push: false
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
