name: backend

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test_build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [3.1.x]
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}

      # Coverage.
      - run: dotnet test Backend.Tests/Backend.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          file: Backend.Tests/coverage.cobertura.xml
          flags: backend

      # Development build.
      - run: dotnet build BackendFramework.sln

      # Release build.
      - run: dotnet publish BackendFramework.sln

      # Fmt.
      - run: dotnet tool install -g dotnet-format
      - run: dotnet-format --check
