name: commit-message-lint

on:
  pull_request:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read
  pull-requests: write

jobs:
  commit-message-lint:
    uses: sillsdev/FieldWorks/.github/workflows/CommitMessage.yml@673ca3760ac775af8c532bdd3a426cf0cd33e9c4
