name: "Deploy Update to Live Server"

on:
  push:
    branches: [live]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.build_combine.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v2
      - name: Build The Combine
        id: build_combine
        uses: ./.github/actions/combine-build
        with:
          image_repo: ${{ secrets.AWS_ACCOUNT }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_default_region: ${{ secrets.AWS_DEFAULT_REGION }}
  deploy_update:
    needs: build
    runs-on: [self-hosted, thecombine]
    steps:
      - uses: actions/checkout@v2
      - name: Deploy The Combine Update
        uses: ./.github/actions/combine-deploy-update
        with:
          image_repo: ${{ secrets.AWS_ACCOUNT }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com
          image_tag: ${{ needs.build.outputs.image_tag }}
          kube_context: ${{ secrets.LTOPS_K8S_PRODUCTION_CONTEXT }}
