name: "Deploy Update to Live Server"

on:
  release:
    branches: [master]
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        component: [frontend, backend, maintenance, database]
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.build_combine.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v3
      - name: Build The Combine
        id: build_combine
        uses: ./.github/actions/combine-build
        with:
          image_registry: public.ecr.aws
          image_registry_alias: "/thecombine"
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # Note that the region for the public registries is always us-east-1 regardless of
          # the account's default region. See the section "To authenticate Docker to an Amazon
          # ECR registry with get-login-password in
          # https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html
          aws_default_region: us-east-1
          build_component: ${{ matrix.component }}
  deploy_update:
    needs: build
    runs-on: [self-hosted, thecombine]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Deploy The Combine Update
        uses: ./.github/actions/combine-deploy-update
        with:
          image_registry: public.ecr.aws
          image_registry_alias: "/thecombine"
          image_tag: ${{ needs.build.outputs.image_tag }}
          kube_context: ${{ secrets.LTOPS_K8S_STAGING_CONTEXT }}
          update_cert_proxy: false
      - name: Deploy The Combine Update
        uses: ./.github/actions/combine-deploy-update
        with:
          image_registry: public.ecr.aws
          image_registry_alias: "/thecombine"
          image_tag: ${{ needs.build.outputs.image_tag }}
          kube_context: ${{ secrets.LTOPS_K8S_PRODUCTION_CONTEXT }}
          update_cert_proxy: true
