name: installer

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/installer.yml"
      - "installer/**"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_protected && github.run_id || github.event.pull_request.number }}

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  make_installer:
    runs-on: ubuntu-latest
    steps:
      # See https://docs.stepsecurity.io/harden-runner/getting-started/ for instructions on
      # configuring harden-runner and identifying allowed endpoints.
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            *-docker.pkg.dev:443
            *.cloudfront.net:443
            azure.archive.ubuntu.com:80
            cdn.dl.k8s.io:443
            dl.k8s.io:443
            esm.ubuntu.com:443
            files.pythonhosted.org:443
            get.helm.sh:443
            get.k3s.io:443
            github.com:443
            kubernetes.github.io:443
            packages.microsoft.com:443
            prod-registry-k8s-io-us-east-1.s3.dualstack.us-east-1.amazonaws.com:443
            prod-registry-k8s-io-us-east-2.s3.dualstack.us-east-2.amazonaws.com:443
            prod-registry-k8s-io-us-west-1.s3.dualstack.us-west-1.amazonaws.com:443
            prod-registry-k8s-io-us-west-2.s3.dualstack.us-west-2.amazonaws.com:443
            public.ecr.aws:443
            pypi.org:443
            registry.k8s.io:443
            release-assets.githubusercontent.com:443
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y makeself
        shell: bash
      - name: Make installer with --net-install
        run: |
          cd installer
          ./make-combine-installer.sh --net-install --debug
        shell: bash
      - name: Make installer with release version
        run: |
          cd installer
          ./make-combine-installer.sh $(git describe --tags --abbrev=0) --debug
        shell: bash
      - name: Show size of installer files
        run: |
          cd installer
          du -sh *
        shell: bash

  make_readme:
    runs-on: ubuntu-latest
    steps:
      # See https://docs.stepsecurity.io/harden-runner/getting-started/ for instructions on
      # configuring harden-runner and identifying allowed endpoints.
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            github.com:443
            packages.microsoft.com:443
            software.thecombine.app.s3.amazonaws.com:443
            sts.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com:443
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Detect changes to installer README
        id: changed-files
        uses: tj-actions/changed-files@48d8f15b2aaa3d255ca5af3eba4870f807ce6b3c # v45.0.4
        with:
          files: installer/README.md
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc weasyprint
        shell: bash
      - name: Generate README PDF
        run: |
          cd installer
          pandoc --pdf-engine=weasyprint --metadata title="The Combine Installation Instructions" README.md -o README.pdf
        shell: bash
      - name: Configure AWS credentials
        if: steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Upload README to S3
        if: steps.changed-files.outputs.any_changed == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          aws s3 cp installer/README.md s3://software.thecombine.app/README.md --content-type text/markdown
        shell: bash
