name: installer

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_protected && github.run_id || github.event.pull_request.number }}

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  make_installer:
    runs-on: ubuntu-latest
    steps:
      # See https://docs.stepsecurity.io/harden-runner/getting-started/ for instructions on
      # configuring harden-runner and identifying allowed endpoints.
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y makeself
        shell: bash
      - name: Make installer with --net-install
        run: |
          cd installer
          ./make-combine-installer.sh --net-install --debug
        shell: bash
      - name: Make installer with release version
        run: |
          cd installer
          ./make-combine-installer.sh v2.7.1 --debug
        shell: bash

  make_readme:
    runs-on: ubuntu-latest
    steps:
      # See https://docs.stepsecurity.io/harden-runner/getting-started/ for instructions on
      # configuring harden-runner and identifying allowed endpoints.
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc weasyprint
        shell: bash
      - name: Generate README PDF
        run: |
          cd installer
          pandoc --pdf-engine=weasyprint --metadata title="The Combine Installation Instructions" README.md -o README.pdf
        shell: bash
