name: maintenance

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_protected && github.run_id || github.event.pull_request.number }}

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  docker_build:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      # See https://docs.stepsecurity.io/harden-runner/getting-started/ for instructions on
      # configuring harden-runner and identifying allowed endpoints.
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            *.cloudfront.net:443
            archive.ubuntu.com:80
            auth.docker.io:443
            files.pythonhosted.org:443
            github.com:443
            production.cloudflare.docker.com:443
            public.ecr.aws:443
            pypi.org:443
            registry-1.docker.io:443
            security.ubuntu.com:80
      # For subfolders, currently a full checkout is required.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Build maintenance image
        run: |
          deploy/scripts/build.py --components maintenance
        shell: bash
      - name: Image digest
        run: |
          docker image inspect combine_maint:latest -f '{{json .Id}}'
        shell: bash
