name: maintenance

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      # For subfolders, currently a full checkout is required.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: maintenance
          push: false
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
